.sign-in {
  width: 450px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  // font-size: 2px;

  .title {
    margin: 10px, 0px;
  }

  .buttons-new {
    display: flex;
    justify-content: space-between;
  }
  .h2 {
  }
}
